<div class="col-md-6 offset-md-3"> 


<h4 class="text-center">Create Project</h4>
<form (ngSubmit)="onSubmit()" [formGroup]="createProjectForm" > 

    <div class="form-group">
        <label>Project Title</label>
        <input type="text" class="form-control" id="name" formControlName="title" minlength="3"
       required
       [(ngModel)]="project.title" name="name">
    </div>
    <div class="form-group">
        <label>Project Budget</label>
        <input type="text" class="form-control" id="budget"
       required
       [(ngModel)]="project.budget" name="budget" formControlName="budget">
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <input type="date" class="form-control" id="startDate"
       required
       [(ngModel)]="project.startDate" name="startDate" formControlName="startDate">
    </div>
    <div class="form-group">
        <label>Expected End Date</label>
        <input type="date" class="form-control" id="expectedEndDate"
       required
       [(ngModel)]="project.expectedEndDate" name="expectedEndDate" formControlName="expectedEndDate">
    </div>
   
    <div class="form-group">
        <label>Project Status</label>
    <select id="status" name="status" formControlName="status" class="form-control" [(ngModel)]="project.status">
        <option value="New">New</option>
        <option value="InProgress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Delayed">Delayed</option>
        <option value="Cancelled">Cancelled</option>

      </select>
      </div>
   
    <div class="form-group">
        <label for="clientId">Client</label>
        <select class="form-control" id="clientId" name="clientId" formControlName="clientId" [(ngModel)]="project.clients" required>
          <option *ngFor="let client of clients" [ngValue]="client">{{ client.name }}</option>
        </select>
      </div>
    <div class="form-group">
    <button  class="btn btn-success" type="submit" >SUBMIT</button>
</div>

</form>
</div>